.input-group{
	min-width: 80%;
	max-width: 100%;
}

.input-group span{
	max-width: 70px;
}

.list-group h4{
	display: inline-block;
}

@media screen and (max-width: 768px){
	h2{
		text-align: center;
	}
}